@import "./fonts.css";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 945px;
  margin: 0 auto;
}

h2 {

  font-family: Lato-Black, Verdana, sans-serif;
  font-size: 30px;
  color: #666d89;
}

.portfolio h2 {
  padding-top: 60px;
  margin-bottom: 19px;
}

p {
  overflow: hidden;
  text-align: justify;
  color: #767e9e;
}

h3 {
  margin-top: 14px;
  margin-bottom: 10px;
  font-family: Lato-Black, Verdana, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  color: #666d89
}

.description_section {
  margin-top: 18px;
  margin-bottom: 43px;
  font-family: Lato-Light, Verdana, sans-serif;
  font-size: 18px;
  line-height: 31px;
  color: #767e9e;
}

.description_item {
  margin-bottom: 22px;
  grid-area: item;
  font-family: Lato-Regular, Verdana, sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
}

.portfolio {
  height: 865px;
  background: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio_text {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
}

.tags {
  margin-bottom: 18px;
}

.tags li {
  display: inline-block;
  border: 1px solid #767e9e;
  border-radius: 5px;
  margin-right: 7px;
}

.tags a {
  padding: 0 6px;
  cursor: pointer;
  text-align: center;
  font-family: Lato-Regular, Verdana, sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
}

.current_tag {
  border: 1px solid #c5c5c5;
}

.current_tag a {
  color: #c5c5c5;
}


.galerea {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  justify-content: start;
}

.about_us {
  height: 729px;
  padding-top: 59px;
  background-color: #f2f2f2;
}

.employee {
  display: grid;
  grid-gap: 0 15px;
  grid-template-columns: repeat(3, 1fr)
}

.social li {
  display: inline;
  cursor: pointer;
}
